@import "../variables/colors.scss";

// Colors
@mixin primary {
  @include selectors($primary);
  @include colorize($primary, $light);
}

@mixin secondary {
  @include selectors($secondary);
  @include colorize($secondary, $light);
}

@mixin link {
  @include selectors($link);
  @include colorize($link, $light);
}

@mixin success {
  @include selectors($success);
  @include colorize($success, $light);
}

@mixin info {
  @include selectors($info);
  @include colorize($info, $light);
}

@mixin warning {
  @include selectors($warning);
  @include colorize($warning, $light);
}

@mixin danger {
  @include selectors($danger);
  @include colorize($danger, $light);
}

@mixin light {
  @include selectors($dark);
  @include colorize($light, $dark);
}

@mixin dark {
  @include selectors($dark);
  @include colorize($dark, $light);
}

@mixin transparent {
  @include selectors($dark);
  &:not(.outlined) {
    &:hover {
      color: #808080;
    }
    &:active {
      color: #ffffff;
    }
  }
  background-color: transparent;
  color: $dark;
  border-color: transparent;
}

// Elements
@mixin button {
  @include selectors($button);
  @include colorize($button, $light);
}

@mixin colorize($background, $text) {
  background-color: $background;
  color: $text;
  border-color: $background;
  &.outlined {
    background-color: $text;
    color: $background;
  }
}

@mixin selectors($color) {
  &:not(.outlined) {
    &:hover {
      filter: brightness(0.7);
    }
    &:active {
      filter: brightness(0.4);
    }
  }
  &.outlined {
    &:hover {
      background: rgba($color: $color, $alpha: 0.15);
    }
    &:active {
      background: rgba($color: $color, $alpha: 0.3);
    }
  }
}
