@import "../variables/variables.scss";

// Colors
@mixin primary {
  @include selectors($primary);
  @include colors($primary, $light);
}

@mixin secondary {
  @include selectors($secondary);
  @include colors($secondary, $light);
}

@mixin link {
  @include selectors($link);
  @include colors($link, $light);
}

@mixin success {
  @include selectors($success);
  @include colors($success, $light);
}

@mixin info {
  @include selectors($info);
  @include colors($info, $light);
}

@mixin warning {
  @include selectors($warning);
  @include colors($warning, $light);
}

@mixin danger {
  @include selectors($danger);
  @include colors($danger, $light);
}

@mixin light {
  @include selectors($dark);
  @include colors($light, $dark);
}

@mixin dark {
  @include selectors($dark);
  @include colors($dark, $light);
}

@mixin transparent {
  @include selectors($dark);
  &:not(.outlined) {
    &:hover {
      color: #808080;
    }
    &:active {
      color: #ffffff;
    }
  }
  background-color: transparent;
  color: $dark;
  border-color: transparent;
}

// Elements
@mixin button {
  @include selectors($button);
  @include colors($button, $light);
}

@mixin colors($background, $text) {
  background-color: $background;
  &:not(.text-primary):not(.text-secondary):not(.text-link):not(.text-success):not(.text-info):not(.text-warning):not(.text-danger):not(.text-light):not(.text-dark):not(.text-grey1):not(.text-grey2):not(.text-grey3):not(.text-grey4):not(.text-grey5):not(.text-grey6) {
    color: $text;
  }
  border-color: $background;
  &.outlined {
    &:not(.text-primary):not(.text-secondary):not(.text-link):not(.text-success):not(.text-info):not(.text-warning):not(.text-danger):not(.text-light):not(.text-dark):not(.text-grey1):not(.text-grey2):not(.text-grey3):not(.text-grey4):not(.text-grey5):not(.text-grey6) {
      color: $background;
    }
    background-color: $text;
  }
}

@mixin selectors($color) {
  &:not(.outlined) {
    &:hover {
      filter: brightness(0.7);
    }
    &:active {
      filter: brightness(0.4);
    }
  }
  &.outlined {
    &:hover {
      background: rgba($color: $color, $alpha: 0.15);
    }
    &:active {
      background: rgba($color: $color, $alpha: 0.3);
    }
  }
}

@mixin textPrimary {
  color: $primary;
}

@mixin textSecondary {
  color: $secondary;
}

@mixin textLink {
  color: $link;
}

@mixin textSuccess {
  color: $success;
}

@mixin textInfo {
  color: $info;
}

@mixin textWarning {
  color: $warning;
}

@mixin textDanger {
  color: $danger;
}

@mixin textLight {
  color: $light;
}

@mixin textDark {
  color: $dark;
}

@mixin textGrey1 {
  color: $grey1;
}

@mixin textGrey2 {
  color: $grey2;
}

@mixin textGrey3 {
  color: $grey3;
}

@mixin textGrey4 {
  color: $grey4;
}

@mixin textGrey5 {
  color: $grey5;
}

@mixin textGrey6 {
  color: $grey6;
}
