// Properties that can be not supported:
// filter, user-select
@import "../variables/colors.scss";
@import "../mixins.scss";

.nuk,
.nuk-button {
  &:not(.secondary):not(.link):not(.success):not(.info):not(.warning):not(.danger):not(.light):not(.dark) {
    @include primary;
  }

  @include clickable;
  padding: 0.2rem 0.7rem;
  border: none;
  border-radius: 3px;
}
